* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #C70201;
    width: 100vw;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    outline: none;
    padding: 0 30px;
}

.nav-left {
    font-family: 'Berkshire Swash', serif;
    font-size: 20px;
}

.nav-middle ul {
    margin: 0;
    display: flex;
    list-style-type: none;
}

.nav-middle ul li {
    padding: 25px;
    font-size: 18px;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}



.btn-signin {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #C70201;
    font-weight: bold;
    transform: scale(1);
    transition: 0.5s;
}

.btn-signin:hover {
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transform: scale(1.01);

}

/* SLIDE */
.home-outer {
    display: flex;
    justify-content: center;
    position: relative;
}

.slide-outer {
    z-index: 0;
    width: 100%;
    height: 300%;
}



.carousel-item {
    width: 100vw;
    height: 100vh;
}

.carousel-item::before {
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    z-index: 200;
    width: 400px;
    text-align: left;
    position: absolute;
    top: 30%;
    padding: 0;
    left: 100px;
}

.slide-title {
    font-size: 50px;
    font-family: 'Berkshire Swash', serif;
}

.slide-subtitle {
    font-size: 18px;
}

.ticket-outer {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    z-index: 30;
    bottom: -160px;
    width: 1000px;
    background: #FFF;
}

.ticket-input,
.ticket-countdown,
.countdown-time {
    display: flex;
}

.ticket-input {
    margin-bottom: 1rem;
    align-items: end;
}

.ticket-header {
    font-weight: bold;
    font-size: 28px;
    color: #C70201;
}

.ticket-input_item {
    margin: 0px 5px;
}

.ticket-input_item label {
    color: #999;
    font-size: 16px;
    margin-bottom: 8px;
}

.ticket-input_item input {
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    border: 1px #ccc solid;
    border-radius: 5px;
}

.ticket-input_item input::placeholder {
    font-size: 14px;
}

.ticket-input button {
    margin: 0 5px;
    padding: 10px 15px;
    width: 200px !important;
    height: 50px;
    background: #C70201;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
    border-radius: 5px;
}

.ticket-input button:hover {
    background: #FFF;
    color: #C70201;
    border: 1px #C70201 solid;
    border-radius: 5px;
}

.ticket-countdown {
    justify-content: space-between;
    align-items: center;
}

.countdown-title {
    width: 300px;
}

.countdown-title h5 {
    font-size: 22px !important;
}

.countdown-image img {
    width: 100px;
    height: 100px;
}

.countdown-time h6 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px #ccc solid;
    border-radius: 5px;
    font-size: 16px;
}

.countdown-time h6 span {
    color: #C70201;
    display: block;
    width: 80px !important;
    font-weight: bolder;
    font-size: 40px;
}

.home-space {
    width: 100%;
    height: 300px;
    background-color: #f2f2f2;
}

footer {
    color: #FFF;
    padding: 50px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background: #C70201;
    position: relative;
    bottom: 0;
    right: 0;
}

.footer-title {
    width: 500px;
}

.footer-title h2 {
    font-family: 'Berkshire Swash', serif;
}

.footer-title p {
    font-size: 14px;
}

.footer-company a,
.footer-support a,
.footer-about a {
    display: block;
    margin: 5px 0;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
}

.footer-company a:hover,
.footer-support a:hover,
.footer-about a:hover {
    text-decoration: underline;
}

.footer-company h6,
.footer-support h6,
.footer-about h6 {
    margin-bottom: 30px;
}

.modal-title{
    margin-left: 150px;
    color: white !important;
    font-size: x-large;
    font-family: 'Berkshire Swash', serif;

}
.modal-header{
    background-color: #C70201;
}
.btn-signin_modal {
    background-color: #C70201;
    border-color: rgb(199, 2, 1);
    color: white;
}
.btn-signin_modal:hover{
    background: rgba(199, 2, 1, 0.5);
    color: white;
    border-color: rgba(199, 2, 1, 0.5);
    
}

.shop-outer {
    margin-top: 70px;
    padding: 30px 30px;
    text-align: center;
}
.shop-outer h1 {
    color: #C70201;
    margin: 30px 0;
    font-family: 'Berkshire Swash', serif;;
}
.gift-outer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.gift-card {
    width: 300px;
    background: #FFF;
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.5s;
}
.gift-card:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.gift-card img{
    width: 200px;
    margin-bottom: 20px;
}
.gift-name {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.gift-price {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #C70201;
}
.gift-search {
    text-align: right;
    margin: 30px;
}
.gift-search input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px #999 solid;
}
.instock-outer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stock-icon {
    display: inline-block;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}